/* Author: Adam Messick
   Date: 5/24/2023
   This file contains all custom styles for the webpages.
*/

body {
    font-family: Arial, sans-serif;
}

form {
    margin: auto;
    width: 50%;
    padding: 10px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
