<!DOCTYPE html>
<html>
<head>
    <title>Information Processor</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/main.js"></script>
</head>
<body>
    <form action="/result" method="POST">
        <label for="url">URL/File:</label><br>
        <input type="text" id="url" name="url"><br>
        <label for="options">Options:</label><br>
        <input type="text" id="options" name="options"><br>
        <label for="command">Command:</label><br>
        <input type="text" id="command" name="command"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
